
*.egg-info
*.pyc
pygace/examples/hfo2/pickle_bakup
pygace/examples/hfo2/corrdump.log 
pygace/examples/hfo2/tmp_dir
pygace/examples/hfo2/run.log
pygace/examples/hfo2/data/hfo2_iter1/iter1/*
*.pkl
pygace/examples/hfo2/res_dir/*
