
*.egg-info
*.pyc
pygace/examples/hfo2/pickle_bakup
pygace/examples/hfo2/corrdump.log 
pygace/examples/hfo2/tmp_dir
pygace/examples/hfo2/run.log
pygace/examples/hfo2/data/hfo2_iters/*
*.pkl
pygace/examples/hfo2/res_dir/*

pygace/examples/sto/pickle_bakup
pygace/examples/sto/corrdump.log 
pygace/examples/sto/tmp_dir
pygace/examples/sto/run.log
pygace/examples/sto/res_dir/*

pygace/examples/bak/*
save.sh

.idea/*
pygace/examples/sto/env.cfg
