
*.egg-info
*.pyc
*.pkl
/demo/general/pickle_bakup
/demo/general/corrdump.log
/demo/general/run.log
/demo/general/tmp_dir
/demo/general/res_dir
/demo/general/pickle_backup

/demo/hfo2/pickle_bakup
/demo/hfo2/corrdump.log
/demo/hfo2/run.log
/demo/hfo2/tmp_dir
/demo/hfo2/res_dir
/demo/hfo2/pickle_backup

/demo/sto/pickle_bakup
/demo/sto/corrdump.log
/demo/sto/run.log
/demo/sto/god_view.dat
/demo/sto/DFT_task.dat

/demo/sto/tmp_dir
/demo/sto/res_dir
/demo/sto/pickle_backup

save.sh
.idea/
pygace/examples/sto/env.cfg
